<h1>Posts#index (current_user`s and his friends posts)</h1>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>

<% end %>
<h4>All Posts:</h4>
<% @our_posts.each do |p|%>
  <%= render 'posts/post_layout', object: p %>
<% end %>
