<h1>Posts#index</h1>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>

<% end %>
<h4>All Posts:</h4>
<% @posts.each do |p|%>
  <small><%= p.user.fname %> <%= p.user.lname %></small>
  <%= p.content %>
  <br><br>
<% end %> 